<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" (click)="close()">&times;</button>
          <h4 class="modal-title">Task info</h4>
      </div>
      <div class="modal-body">
          <mat-card>
            <mat-card-title>Title - {{model.title}}</mat-card-title>
            <mat-card-subtitle>
                    <p>Type:  {{types[model.type]}}</p>
                    <p>Priority: {{priorities[model.priority]}}</p>
                    <p>Due Date: {{ model.dueDate}}</p>
                    <p>Assignee: {{model.assignee}}</p>
            </mat-card-subtitle>
            <mat-card-content>
                Description: <br/>{{model.description}}
            </mat-card-content>
            <mat-card-footer>
                <p style="padding-left: 24px;width:100%;">Comments:</p>
                <div class="col-md-12 messageContainer" *ngFor="let comment of model.comments">
                    <p>Date - {{comment.date}}</p>
                    <p>{{comment.message}}</p>
                </div>
                <div class="col-md-12 commentContainer">
                    <mat-form-field class="fullWidth">                      
                            <textarea  matInput placeholder="New Comment"  [(ngModel)]="newComment.message" name="NewMessage"></textarea>   
                    </mat-form-field>     
                    <button mat-mini-fab  (click)="saveMessage()"  class="pull-right addCommnetBtn">+</button>   
                </div>
            </mat-card-footer>
          </mat-card>
                 
      </div>
      <div class="modal-footer">        
          <button type="button" mat-raised-button color="warn" class="btn btn-danger pull-left" (click)="delete()">Delete</button>
          <button type="button" mat-raised-button class="pull-right" style="background-color:#1A237E;color:#fff;" (click)="cancel()">Close</button>
      </div>
  </div>
</div>