.boardHeader{
    margin-bottom: 10px;
    margin-top:10px;
}
.boardBody{
    overflow-x: auto;
    width:100%;
    display: inline-flex;
}
.column{
    min-height:800px;
    background-color: #F4F5F7;  
    margin-right:15px;
    width:24.5%;
    float:left;
    border-radius: 3px;
}
.card{
    background-color: #F4F5F7;
    margin-bottom: 30px;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}
.dropdown-menu{
    padding:3px;
}
.dropdown-menu div:hover{
    cursor: pointer;
}
.dropdown-toggle:hover{
    cursor: pointer;
}
.dropdown-toggle{
    margin-right:5px;
}
.title{
    font-size: 18px;
}
.addColumnBtn:hover{
    cursor: pointer;
}
.addColumnBtn{
    margin-right: 15px;
    margin-top: 10px;
    background-color: #FFEA00;
}
.search{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 10px;
    margin-right:10px;
}
.addColumn{
    margin-right: 15px;
}
.sortFilter{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 10px;    
}
mat-form-field{
    margin-right:5px;
}
.modal{
    z-index:10 !important;
}
.mat-input-underline{
    border-bottom: 1px solid #fff!important;
}
.mat-elevation-z6 .mat-form-field-label{
    color: #fff !important;
}
.mat-elevation-z6 .mat-focused .mat-form-field-label {
    color: #fff !important;
}
    
.mat-elevation-z6 .mat-form-field-ripple {
    background-color: #fff !important;
}
.mat-elevation-z6  .mat-form-field-underline {
    background-color: #fff;
}
.mat-select-arrow{
    color:#fff
}
.mat-elevation-z6  .mat-select-value-text{
    color:#fff;
}

.addTicketBtn{
    background-color: #61d800;
}
.mat-elevation-z6 .addColumnBtn{
    margin-right: 15px;
    margin-top: 10px;
}

.small-width-status{
    display: block;
    min-height:600px;
    background-color: #F4F5F7;  
}
.status-small-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.status-small-container .small-width-status{
    width:100%;
    flex: 0 0 auto;
}
.status-big-container{
    width:100%;
    display: flex;
}