<section class="BoardSection">
  <div class="row">   
    <div class="boardHeader">
      <div class="">
        <span class="title">{{title}}</span>
        <div class="pull-right dropdown">
          <div class="dropdown-toggle addColumn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/images/ellipsis.png">
          </div> 
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item" (click)="addStatus()">Add Status</div>              
          </div>     
        </div>
      </div>
      <div class="">
        <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="searchText" name="searchText">
        </mat-form-field>   
        <mat-form-field>
            <mat-select name="statusSort" placeholder="Quick Filters" [(ngModel)]="sortBy">
              <mat-option  [value]="title">Tilte</mat-option>
              <mat-option  [value]="title">Description</mat-option>
              <mat-option  [value]="title">Labels</mat-option>
              <mat-option  [value]="title">Assignee</mat-option>
            </mat-select>
        </mat-form-field>  
        <div (click)="addTicket()" class="pull-right addTicket"><img src="assets/images/plus.png"/></div>
      </div>
    </div>
    <div class="boardBody" *ngIf="statuses">
      <div class="column" 
          *ngFor="let status of statuses"  
          mwlDroppable (drop)="drop($event.dropData, status)" 
          (dragOver)="dragOverColumn()">

            <status [status]="status"                
                    [sortBy]="sortBy"  
                    [searchText]="searchText" 
                    (delete)="deleteStatus($event)">
            </status>
      </div>
    </div>    
  </div>
</section>


