
<div class="statusContainer" >
  <div class="col-md-12 columnHeader">
      <p *ngIf="!isEditStatus" (dblclick)="editStatus()">
        {{status.status}}
        <span class="pull-right delete" (click)="deleteStatus()"><img src="assets/images/delete.png" /></span>
      </p>
      <form *ngIf="isEditStatus" (ngSubmit)="saveStatus()">
          <input type="text" class="editStatusTitleInput" [(ngModel)]="status.status"  name="status" />
          <input type="submit" class="btn btn-sm btn-success" value="save"/>
      </form>
     
  </div>
  <div class="col-md-12">
    <div *ngFor="let ticket of tickets | sortTicket:sortBy:searchText"   
         [dropData]="ticket" 
         mwlDraggable>
            <ticket  
              (click)="openTicket(ticket)"
              [ticket]="ticket">   
            </ticket>
    </div>
  </div>
</div>
